.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Photo-Upload {
  border: dashed 1px black;
  margin: 1em;
  display: inline-block;
  padding: 3em;
}

.Photo-Item {
  display: inline-block;
  width: 20em;
  height: 20em;
  overflow: hidden;
  border: dashed 1px black;
  margin: .1em;
  padding: 1em;
}

.Photo-Item.Is-Awesome {
  background-color: lightyellow;
}

.Photo-Item img {
  display: block;
  max-width:20em;
  max-height:20em;
  width: auto;
  height: auto;
  margin: 0 auto;
}